* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

a {
    color: #00CED1;
    transition: all 0.2s;
}

a:hover{
    opacity: 0.6;
}